.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  /* Semi-transparent white background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  /* Make sure it's on top of other elements */
}

.spinner-container {
  width: 60px;
  height: 60px;
}

.spinner {
  width: 100%;
  height: 100%;
  border: 5px solid rgba(77, 7, 25, 0.226);
  border-radius: 50%;
  border-top: 5px solid #A11F23;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}
