<app-spinner *ngIf="isLoading"></app-spinner>

<div class="row">
    <div class="col-lg-8 col-md-6 col-sm-6">
        <div class="card card-stats" style="padding: 20px; border-radius: 10px; border: 1px solid #e0e0e0;">
            <div class="card-body" style="padding-bottom: 10px; margin-bottom: 5px;">

            </div>
            <div class="card-footer" style="border-top: none; padding-top: 0;">

                <div class="stats" style="text-align: left; margin-top: 10px;">
                    <p style="font-size: 20px; font-weight: 700; color: #333; margin: 0;">{{userdashboadData.department_user_count}}</p>
                </div>
            </div>
        </div>
    </div>






    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="row">


            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats" style="padding: 20px; border-radius: 10px; border: 1px solid #e0e0e0;">
                    <div class="card-body" style="padding-bottom: 10px; margin-bottom: 5px;">


                    </div>
                    <div class="card-footer" style="border-top: none; padding-top: 0;">

                        <div class="stats" style="text-align: left; margin-top: 10px;">
                            <p style="font-size: 20px; font-weight: 700; color: #333; margin: 0;">{{userdashboadData.initiated_message_count }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats" style="padding: 20px; border-radius: 10px; border: 1px solid #e0e0e0;">
                    <div class="card-body" style="padding-bottom: 10px; margin-bottom: 5px;">


                    </div>
                    <div class="card-footer" style="border-top: none; padding-top: 0;">

                        <div class="stats" style="text-align: left; margin-top: 10px;">
                            <p style="font-size: 20px; font-weight: 700; color: #333; margin: 0;">{{userdashboadData.initiated_message_count }}</p>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-8 col-md-6 col-sm-6">

        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats" style="padding: 20px; border-radius: 10px; border: 1px solid #e0e0e0;">
                    <div class="card-body" style="padding-bottom: 10px; margin-bottom: 5px;">

                    </div>
                    <div class="card-footer" style="border-top: none; padding-top: 0;">

                        <div class="stats" style="text-align: left; margin-top: 10px;">
                            <p style="font-size: 20px; font-weight: 700; color: #333; margin: 0;">{{userdashboadData.department_user_count}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats" style="padding: 20px; border-radius: 10px; border: 1px solid #e0e0e0;">
                    <div class="card-body" style="padding-bottom: 10px; margin-bottom: 5px;">

                    </div>
                    <div class="card-footer" style="border-top: none; padding-top: 0;">

                        <div class="stats" style="text-align: left; margin-top: 10px;">
                            <p style="font-size: 20px; font-weight: 700; color: #333; margin: 0;">{{userdashboadData.department_user_count}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>






    <div class="col-lg-4 col-md-6 col-sm-6">


        <div class="card card-stats" style="padding: 20px; border-radius: 10px; border: 1px solid #e0e0e0;">
            <div class="card-body" style="padding-bottom: 10px; margin-bottom: 5px;">


            </div>
            <div class="card-footer" style="border-top: none; padding-top: 0;">

                <div class="stats" style="text-align: left; margin-top: 10px;">
                    <p style="font-size: 20px; font-weight: 700; color: #333; margin: 0;">{{userdashboadData.initiated_message_count }}</p>
                </div>
            </div>
        </div>


    </div>

</div>
