<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <!-- <li>
                    <a href="https://www.creative-tim.com">
                        Creative Tim
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">
                       Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        Licenses
                    </a>
                </li> -->
            </ul>
        </nav>
        <div class="copyright pull-right">
            <!-- &copy; {{test | date: 'yyyy'}}, IZB HUB powered by
            <a style="color: #A11F23;font-weight:bold" href="https://www.izb.co.zm/">IZB Development Team</a> -->
        </div>
    </div>
</footer>
