<app-spinner *ngIf="loading"></app-spinner>


<div class="row">
    <div class="col-md-8">
        <div class="card card-user">
            <div class="card-body">
                <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">

                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Select Package</label>
                                <!-- <input style="border-radius: 30px;" type="text" class="form-control" placeholder="Role name" name="role_id" ngModel required #role_id="ngModel" /> -->
                                <select style="border-radius: 30px;" placeholder="Role name" name="role_id" ngModel required #role_id="ngModel" class="form-control ">
                                  <option *ngFor="let package of packages" [value]="package.role_id">{{package.role_name}}</option>
                                </select>
                                <div *ngIf="role_id.invalid && role_id.touched" class="text-danger">
                                    Role Name is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pl-1">
                            <div class="form-group">
                                <label>Amount</label>
                                <input style="border-radius: 30px;" type="text" class="form-control" placeholder="amount" name="amount" ngModel required amount #amount="ngModel" />
                                <div *ngIf="amount.invalid && amount.touched" class="text-danger">
                                    Valid email is required.
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="update ml-auto mr-auto">
                            <button style="background-color: #542E54;" type="submit" class="btn btn-primary btn-round" [disabled]="userForm.invalid">
                              Submit
                          </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
            </div>
            <div class="card-body ">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-sm row-border hover" id="packageTable">
                        <thead>
                            <tr>
                                <th style="color: #351431; font-size:10px" class="text-left">Role Name</th>
                                <!-- <th style="color: #351431;font-size:10px" class="text-left">Role Id</th> -->
                                <th style="color: #351431;font-size:10px" class="text-left">Amount</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let package of packages">
                                <td style="font-size:10px" class="text-left">{{ package.role_name }}</td>
                                <!-- <td style="font-size:10px" class="text-left">{{ package.role_id }}</td> -->
                                <td style="font-size:12px" class="text-left">{{ package.amount }}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>