<app-spinner *ngIf="isLoading"></app-spinner>


  <div class="page-wrapper" *ngIf="isAllUser">

        <!-- Reusing 'form-card' ensures it is exactly the same width/style as the form -->
        <div class="form-card">

          <div class="form-title">
            <strong>ALL USERS</strong>
            <button style="margin-left: 10px;" class="action-btn" (click)="addUser()">
              ADD USERS
            </button>
          </div>

          <div class="form-subtitle">
            List of all user
          </div>

          <div class="table-container">
            <table class="custom-table" id="usersTable">
              <thead>
                <tr>
                  <th>Full Name</th>
                  <th>Email Address</th>
                  <th>Role Name</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of users">
                  <td>{{ data.name | titlecase }} </td>
                  <td>{{ data.email }}</td>
                  <td>{{ data.role_name | titlecase }}</td>

                  <td class="text-center">
                    <button class="action-btn" (click)="assignRole(data.id)">
                      Assign/Re-assign Role
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
  </div>
