<div>
    <app-spinner *ngIf="isLoading">

    </app-spinner>
</div>
<section class="vh-100 d-flex flex-column justify-content-center align-items-center" style="background-image: url('assets/img/bg.jpg');background-size: cover;">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8 col-sm-12 d-flex flex-column justify-content-center align-items-center mb-4 text-center">

                <div style="background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url('your-background-image.jpg'); padding: 15px; border-radius: 30px; text-align: left;">
                    <h1 style="margin-bottom: -5px; font-weight:bolder;color:#16467A">MUZANGA</h1>
                    <p style="margin-top: 0;">Seamless Access, real time data</p>
                </div>

            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5">
                        <img style="margin-bottom: 30px;" width="300" class="responsive img-fluid" src="assets/img/logo.png">
                        <form #usersForm="ngForm" (ngSubmit)="getUserFormdata(usersForm.value)">
                            <div class="form-outline mb-4">
                                <label style="font-weight: bold; color: black" class="form-label" for="typeEmailX-2">Email</label>
                                <input style="padding: 5px;border-radius: 1rem" type="text" ngModel name="username" id="typeusernameX-2" class="form-control form-control-lg" required #username="ngModel" />
                                <div *ngIf="username.invalid && username.touched" style="color:red;">email is required</div>
                            </div>

                            <div class="form-outline mb-4">
                                <label style="font-weight: bold;color:black" class="form-label" for="typePasswordX-2">Password</label>
                                <input style="padding: 5px;border-radius: 1rem" type="password" ngModel name="password" id="typePasswordX-2" class="form-control form-control-lg" required #password="ngModel" />
                                <div *ngIf="password.invalid && password.touched" style="color:red;">Password is required</div>
                            </div>

                            <style>
                                .custom-btn {
                                    background-color: #FFDE00;
                                    border-radius: 2rem;
                                    border: none;
                                    color: white;
                                    width: 100%;
                                }

                                .custom-btn:hover {
                                    background-color: #FDAE1C !important;
                                }
                            </style>

                            <button class="custom-btn btn btn-lg btn-block" type="submit" [disabled]="usersForm.invalid">
                              Login
                          </button>

                        </form>
                        <!-- <p>Dont have an Account?<a style="color:#FFDE00 ;" href="#/selfonboard"> Sign up</a> </p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="fixed-bottom text-center p-2" style="background-color: rgba(0, 0, 0, 0.5); color: white;">&copy; {{test | date: 'yyyy'}}, MUZANGA LIMITED
        <a style="color: #A11F23;font-weight:bold" href=""> </a>
    </footer>
</section>
